/**
* @desc: estilos que definem os botões do sistema como um todo
**/
@media all {
    button.neon-btn,
    input[type="button"].neon-btn,
    input[type="submit"].neon-btn {
        background-repeat: no-repeat;
        border: 0;
        cursor: pointer;
        filter: opacity(0.8);
        font-weight: bold;

        // definições dos estados dos botões
        &:active,
        &:focus,
        &:hover {
            filter: opacity(100);
            transition: ease-in 0.3s;
        }

        // Definição de botões de ação sistêmcica
        &.--cancel {
            background-color: var(--btn-cancel);
            color: var(--btn-cancel-text-color);
        }
        &.--confirm {
            background-color: var(--btn-confirm);
            color: var(--btn-confirm-text-color);
        }
        &.--return {
            background-color: var(--btn-return);
            color: var(--btn-return-text-color);
        }

        // Forma dos botões
        &.btn__shape {
            &.--leafLeft,
            &.--folhaEsquerda {
                border: 0px;
                border-radius: 20px 0px 20px 0px;
            }
            &.--quadro,
            &.--square {
                border-radius: 0px !important;
            }
            &.--suave,
            &.--smooth {
                border-radius: 3px !important;
            }
            &.--redonda,
            &.--circle {
                border-radius: 100% !important;
            }
        }

        // Tamanho dos botões
        &.btn__size {
            &.--fixed {
                height: initial !important;
            }
            &.--great {
                font-weight: 400;
                letter-spacing: 0.5pt;
                padding: 16px !important;
                width: 100% !important;
            }
            &.--large {
                padding: 7.5px 10px;
                width: 100% !important;
            }
            &.--mid {
                min-width: 80px;
                width: max-content;
                padding: 10px 12px;
            }
            &.--small {
                min-width: auto;
                padding: 5px;
            }
        }

        &.bg__color {
            &.--ametist,
            &.--emerald,
            &.--ruby,
            &.--sapphire {
                color: rgba(255, 255, 255, 1);
            }

            &.--ametist {
                background-color: var(--colorAmetist);
            }
            &.--emerald {
                background-color: var(--colorEmerald) !important;
            }
            &.--ruby {
                background-color: var(--colorRuby) !important;
            }
            &.--sapphire {
                background-color: var(--colorSapphire) !important;
            }
            &.--basecolor_2 {
                background-color: var(--baseColor2) !important;
            }
        }
    }
}
