@media all {
    div.card {
        background-color: #fff;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        width: 100%;

        &.border__radius {
            &.rad__10 {
                border-radius: 10px !important;
            }
            &.rad__20 {
                border-radius: 20px !important;
            }
            &.rad__30 {
                border-radius: 30px !important;
            }
        }

        div.card__header,
        div.card__body,
        div.card__footer {
            padding: 20px;
        }

        div.card__header {

            h3 {
                margin: 0;
            }
        }

        div.card__body {
        }

        div.card__footer {
        }
    }
}
