@media all {
    form.metro-form {
        box-sizing: border-box !important;
        outline: none;

        // Definição dos fieldsets
        fieldset {
            border: none !important;
            display: block;
            margin-bottom: 1rem;
            margin-inline-start: 0;
            margin-inline-end: 0;
            padding-block-start: 0;
            padding-block-end: 0;
            padding-inline-start: 0;
            padding-inline-end: 0;
        }

        // Definição dos campos
        input[type="email"],
        input[type="number"],
        input[type="password"],
        input[type="text"],
        input[type="time"],
        input[type="url"],
        select,
        textarea {
            background-color: #f5f5f6;
            border: 1px solid #dfdfdf;
            border-radius: 3px !important;
            color: #5c5c5c;
            height: 30px;
            padding: 5px 8px !important;
            width: calc(100% - 18px);

            &:active,
            &:focus {
                border-bottom-color: #8e44ad !important;
            }
        }

        select {
            height: 42px !important;
            width: 100% !important;
        }

        textarea {
            resize: vertical !important;
        }

        label {
            display: block;
            margin: 10px 0;
        }
    }
}

/*
    Hacks para o select2
*/
@media all {
    .select2-dropdown {
        z-index: 0 !important;
    }
    .select2 {
        width: 100% !important;
    }
    span.select2-selection.select2-selection--single {
        border: 1px solid #dfdfdf;
    }
    span.select2-selection__arrow {
        height: 40px !important;
    }
    span.select2-selection.select2-selection--single,
    span.select2-selection__rendered {
        height: 42px;
    }
    .select2-selection__rendered {
        line-height: 42px !important;
    }
}
