@charset "utf-8";

@media all {
    .metro-dataset {
        .dataset__amoung {
            display: block;
            font-size: 14px;
            padding: 20px 0px;
        }

        table.metro-dataset {
            border-collapse: collapse;
            font-size: 14px;
            width: 100%;

            tr td,
            tr th {
                padding: 10px;
            }

            thead {
                border-bottom: 1px solid #ccc;

                th {
                    color: #5c5c5c;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            tr:nth-child(even) {
                background-color: #fbfbfb;
            }

            tbody tr {
                &:hover {
                    background-color: #f1f1f1;
                    text-shadow: 0px 0px 1px #3c3c3c;
                    transition: ease-in 0.3s;

                    button {
                        display: initial !important;
                    }
                }
                td {
                    border-bottom: 1px solid #f1f1f1;

                    button {
                        background-color: transparent !important;
                    }
                }
            }
        }

        button {
            border-radius: 5px;
            border: 0px;
            color: #fff;
            cursor: pointer;
            display: none;
            font-weight: bold;
            margin: 0 2.5px;
            padding: 5px 10px;

            &:hover {
                filter: saturate(50%);
            }

        }
    }
}

@media screen and (max-width: 768px) {
    .Neon-dataset {
        overflow-x: auto;
    }
}
