/**
* @desc: estilos que definem os botões do sistema como um todo
**/
@media all {
    button.neon-btn,
    input[type="button"].neon-btn,
    input[type="submit"].neon-btn {
        background-repeat: no-repeat;
        border: 0;
        cursor: pointer;
        filter: opacity(0.8);
        font-weight: bold;

        // definições dos estados dos botões
        &:active,
        &:focus,
        &:hover {
            filter: opacity(100);
            transition: ease-in 0.3s;
        }

        // Definição do estado desativado
        &:disabled {
            filter: saturate(10%) !important;
        }

        // Definição de botões de ação sistêmcica
        &.--cancel {
            background-color: var(--btn-cancel);
            color: var(--btn-cancel-text-color);
        }
        &.--confirm {
            background-color: var(--btn-confirm);
            color: var(--btn-confirm-text-color);
        }
        &.--return {
            background-color: var(--btn-return);
            color: var(--btn-return-text-color);
        }

        // Forma dos botões
        &.btn__shape {
            &.--leafLeft,
            &.--folhaEsquerda {
                border: 0px;
                border-radius: 20px 0px 20px 0px;
            }
            &.--quadro,
            &.--square {
                border-radius: 0px !important;
            }
            &.--suave,
            &.--smooth {
                border-radius: 3px !important;
            }
            &.--redonda,
            &.--circle {
                border-radius: 100% !important;
            }
        }

        // Tamanho dos botões
        &.btn__size {
            &.--fixed {
                height: initial !important;
            }
            &.--great {
                font-weight: 400;
                letter-spacing: 0.5pt;
                padding: 16px !important;
                width: 100% !important;
            }
            &.--large {
                padding: 7.5px 10px;
                width: 100% !important;
            }
            &.--mid {
                min-width: 80px;
                width: max-content;
                padding: 10px 12px;
            }
            &.--small {
                min-width: auto;
                padding: 5px;
            }
        }

        // Definição de ícones
        &.btn__icon {
            // Inclusão de ícone no final do botão.
            &.--after {
            }

            // Inclusão de ícone no começo do botão.
            &.--before {
                background-size: 12px;
                background-position-x: 10px;
                background-position-y: center;
                background-repeat: no-repeat;
                color: #fff;
                font-style: normal;
                letter-spacing: 1px;
                padding-left: 30px !important;
            }

            /*Ícones dos botões*/
            &.--add {
                background-image: url("../../imgs/buttons/icon_add.png");
            }
            &.--back {
                background-image: url("../../imgs/buttons/icon_back.png");
            }
            &.--del {
                background-image: url("../../imgs/buttons/icon_del.png");
            }
            &.--download {
                background-image: url("../../imgs/buttons/icon_download.png");
            }
            &.--edit {
                background-image: url("../../imgs/buttons/icon_edit.png");
            }
            &.--filter {
                background-image: url("../../imgs/buttons/icon_filter.png");
            }
            &.--gear {
                background-image: url("../../imgs/buttons/icon_gear.png");
            }
            &.--help {
                background-image: url("../../imgs/buttons/icon_help.png");
            }
            &.--list {
                background-image: url("../../imgs/buttons/icon_list.png");
            }
            &.--minus {
                background-image: url("../../imgs/buttons/icon_minus.png");
            }
            &.--paste {
                background-image: url("../../imgs/buttons/icon_paste.png");
            }
            &.--pause {
                background-image: url("../../imgs/buttons/icon_pause.png");
            }
            &.--play {
                background-image: url("../../imgs/buttons/icon_play.png");
            }
            &.--power {
                background-image: url("../../imgs/buttons/icon_power.png");
            }
            &.--reload {
                background-image: url("../../imgs/buttons/icon_reload.png");
            }
            &.--report {
                background-image: url("../../imgs/buttons/icon_report.png");
            }
            &.--save {
                background-image: url("../../imgs/buttons/icon_save.png");
            }
            &.--search {
                background-image: url("../../imgs/buttons/icon_search.png");
            }
            &.--stop {
                background-image: url("../../imgs/buttons/icon_stop.png");
            }
            &.--tape {
                background-image: url("../../imgs/buttons/icon_tape.png");
            }
            &.--upload {
                background-image: url("../../imgs/buttons/icon_upload.png");
            }
            &.--view {
                background-image: url("../../imgs/buttons/icon_view.png");
            }
        }
    }

    button,
    input [type="button"],
    input [type="submit"] {
        /*Cor dos botões*/
        &.bg__color {
            &.--ametist,
            &.--emerald,
            &.--ruby,
            &.--sapphire {
                color: rgba(255, 255, 255, 1);
            }

            &.--ametist {
                background-color: var(--colorAmetist);
            }
            &.--emerald {
                background-color: var(--colorEmerald) !important;
            }
            &.--ruby {
                background-color: var(--colorRuby) !important;
            }
            &.--sapphire {
                background-color: var(--colorSapphire) !important;
            }
            &.--basecolor_2 {
                background-color: var(--baseColor2) !important;
            }
        }
        .basecolor_1 {
            background-color: var(--baseColor) !important;
        }
        button.basecolor_3 {
            background-color: var(--baseColor3) !important;
        }
    }
}

/* s
    Extra small devices (phones, 600px and down) 
    Small devices (portrait tablets and large phones, 600px and up)
*/
@media only screen and (max-width: 768px) {
    button.btn {
        &.--small {
            min-width: 80px !important;
        }
    }
}

@media screen and (max-width: 800px) {
    button,
    input [type="button"],
    input [type="submit"] {
        &.btn__tamanho {
            &.--medio,
            &.--mid {
                min-width: 100px !important;
            }
        }
    }
}
