@charset "UTF-8";
/**
* @desc: estilos que definem os botões do sistema como um todo
**/
@media all {
  button.neon-btn,
  input[type="button"].neon-btn,
  input[type="submit"].neon-btn {
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
    font-weight: bold;
  }
  button.neon-btn:active, button.neon-btn:focus, button.neon-btn:hover,
  input[type="button"].neon-btn:active,
  input[type="button"].neon-btn:focus,
  input[type="button"].neon-btn:hover,
  input[type="submit"].neon-btn:active,
  input[type="submit"].neon-btn:focus,
  input[type="submit"].neon-btn:hover {
    -webkit-filter: opacity(100);
            filter: opacity(100);
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  button.neon-btn:disabled,
  input[type="button"].neon-btn:disabled,
  input[type="submit"].neon-btn:disabled {
    -webkit-filter: saturate(10%) !important;
            filter: saturate(10%) !important;
  }
  button.neon-btn.--cancel,
  input[type="button"].neon-btn.--cancel,
  input[type="submit"].neon-btn.--cancel {
    background-color: var(--btn-cancel);
    color: var(--btn-cancel-text-color);
  }
  button.neon-btn.--confirm,
  input[type="button"].neon-btn.--confirm,
  input[type="submit"].neon-btn.--confirm {
    background-color: var(--btn-confirm);
    color: var(--btn-confirm-text-color);
  }
  button.neon-btn.--return,
  input[type="button"].neon-btn.--return,
  input[type="submit"].neon-btn.--return {
    background-color: var(--btn-return);
    color: var(--btn-return-text-color);
  }
  button.neon-btn.btn__shape.--leafLeft, button.neon-btn.btn__shape.--folhaEsquerda,
  input[type="button"].neon-btn.btn__shape.--leafLeft,
  input[type="button"].neon-btn.btn__shape.--folhaEsquerda,
  input[type="submit"].neon-btn.btn__shape.--leafLeft,
  input[type="submit"].neon-btn.btn__shape.--folhaEsquerda {
    border: 0px;
    border-radius: 20px 0px 20px 0px;
  }
  button.neon-btn.btn__shape.--quadro, button.neon-btn.btn__shape.--square,
  input[type="button"].neon-btn.btn__shape.--quadro,
  input[type="button"].neon-btn.btn__shape.--square,
  input[type="submit"].neon-btn.btn__shape.--quadro,
  input[type="submit"].neon-btn.btn__shape.--square {
    border-radius: 0px !important;
  }
  button.neon-btn.btn__shape.--suave, button.neon-btn.btn__shape.--smooth,
  input[type="button"].neon-btn.btn__shape.--suave,
  input[type="button"].neon-btn.btn__shape.--smooth,
  input[type="submit"].neon-btn.btn__shape.--suave,
  input[type="submit"].neon-btn.btn__shape.--smooth {
    border-radius: 3px !important;
  }
  button.neon-btn.btn__shape.--redonda, button.neon-btn.btn__shape.--circle,
  input[type="button"].neon-btn.btn__shape.--redonda,
  input[type="button"].neon-btn.btn__shape.--circle,
  input[type="submit"].neon-btn.btn__shape.--redonda,
  input[type="submit"].neon-btn.btn__shape.--circle {
    border-radius: 100% !important;
  }
  button.neon-btn.btn__size.--fixed,
  input[type="button"].neon-btn.btn__size.--fixed,
  input[type="submit"].neon-btn.btn__size.--fixed {
    height: initial !important;
  }
  button.neon-btn.btn__size.--great,
  input[type="button"].neon-btn.btn__size.--great,
  input[type="submit"].neon-btn.btn__size.--great {
    font-weight: 400;
    letter-spacing: 0.5pt;
    padding: 16px !important;
    width: 100% !important;
  }
  button.neon-btn.btn__size.--large,
  input[type="button"].neon-btn.btn__size.--large,
  input[type="submit"].neon-btn.btn__size.--large {
    padding: 7.5px 10px;
    width: 100% !important;
  }
  button.neon-btn.btn__size.--mid,
  input[type="button"].neon-btn.btn__size.--mid,
  input[type="submit"].neon-btn.btn__size.--mid {
    min-width: 80px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px 12px;
  }
  button.neon-btn.btn__size.--small,
  input[type="button"].neon-btn.btn__size.--small,
  input[type="submit"].neon-btn.btn__size.--small {
    min-width: auto;
    padding: 5px;
  }
  button.neon-btn.btn__icon,
  input[type="button"].neon-btn.btn__icon,
  input[type="submit"].neon-btn.btn__icon {
    /*Ícones dos botões*/
  }
  button.neon-btn.btn__icon.--before,
  input[type="button"].neon-btn.btn__icon.--before,
  input[type="submit"].neon-btn.btn__icon.--before {
    background-size: 12px;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    padding-left: 30px !important;
  }
  button.neon-btn.btn__icon.--add,
  input[type="button"].neon-btn.btn__icon.--add,
  input[type="submit"].neon-btn.btn__icon.--add {
    background-image: url("../../imgs/buttons/icon_add.png");
  }
  button.neon-btn.btn__icon.--back,
  input[type="button"].neon-btn.btn__icon.--back,
  input[type="submit"].neon-btn.btn__icon.--back {
    background-image: url("../../imgs/buttons/icon_back.png");
  }
  button.neon-btn.btn__icon.--del,
  input[type="button"].neon-btn.btn__icon.--del,
  input[type="submit"].neon-btn.btn__icon.--del {
    background-image: url("../../imgs/buttons/icon_del.png");
  }
  button.neon-btn.btn__icon.--download,
  input[type="button"].neon-btn.btn__icon.--download,
  input[type="submit"].neon-btn.btn__icon.--download {
    background-image: url("../../imgs/buttons/icon_download.png");
  }
  button.neon-btn.btn__icon.--edit,
  input[type="button"].neon-btn.btn__icon.--edit,
  input[type="submit"].neon-btn.btn__icon.--edit {
    background-image: url("../../imgs/buttons/icon_edit.png");
  }
  button.neon-btn.btn__icon.--filter,
  input[type="button"].neon-btn.btn__icon.--filter,
  input[type="submit"].neon-btn.btn__icon.--filter {
    background-image: url("../../imgs/buttons/icon_filter.png");
  }
  button.neon-btn.btn__icon.--gear,
  input[type="button"].neon-btn.btn__icon.--gear,
  input[type="submit"].neon-btn.btn__icon.--gear {
    background-image: url("../../imgs/buttons/icon_gear.png");
  }
  button.neon-btn.btn__icon.--help,
  input[type="button"].neon-btn.btn__icon.--help,
  input[type="submit"].neon-btn.btn__icon.--help {
    background-image: url("../../imgs/buttons/icon_help.png");
  }
  button.neon-btn.btn__icon.--list,
  input[type="button"].neon-btn.btn__icon.--list,
  input[type="submit"].neon-btn.btn__icon.--list {
    background-image: url("../../imgs/buttons/icon_list.png");
  }
  button.neon-btn.btn__icon.--minus,
  input[type="button"].neon-btn.btn__icon.--minus,
  input[type="submit"].neon-btn.btn__icon.--minus {
    background-image: url("../../imgs/buttons/icon_minus.png");
  }
  button.neon-btn.btn__icon.--paste,
  input[type="button"].neon-btn.btn__icon.--paste,
  input[type="submit"].neon-btn.btn__icon.--paste {
    background-image: url("../../imgs/buttons/icon_paste.png");
  }
  button.neon-btn.btn__icon.--pause,
  input[type="button"].neon-btn.btn__icon.--pause,
  input[type="submit"].neon-btn.btn__icon.--pause {
    background-image: url("../../imgs/buttons/icon_pause.png");
  }
  button.neon-btn.btn__icon.--play,
  input[type="button"].neon-btn.btn__icon.--play,
  input[type="submit"].neon-btn.btn__icon.--play {
    background-image: url("../../imgs/buttons/icon_play.png");
  }
  button.neon-btn.btn__icon.--power,
  input[type="button"].neon-btn.btn__icon.--power,
  input[type="submit"].neon-btn.btn__icon.--power {
    background-image: url("../../imgs/buttons/icon_power.png");
  }
  button.neon-btn.btn__icon.--reload,
  input[type="button"].neon-btn.btn__icon.--reload,
  input[type="submit"].neon-btn.btn__icon.--reload {
    background-image: url("../../imgs/buttons/icon_reload.png");
  }
  button.neon-btn.btn__icon.--report,
  input[type="button"].neon-btn.btn__icon.--report,
  input[type="submit"].neon-btn.btn__icon.--report {
    background-image: url("../../imgs/buttons/icon_report.png");
  }
  button.neon-btn.btn__icon.--save,
  input[type="button"].neon-btn.btn__icon.--save,
  input[type="submit"].neon-btn.btn__icon.--save {
    background-image: url("../../imgs/buttons/icon_save.png");
  }
  button.neon-btn.btn__icon.--search,
  input[type="button"].neon-btn.btn__icon.--search,
  input[type="submit"].neon-btn.btn__icon.--search {
    background-image: url("../../imgs/buttons/icon_search.png");
  }
  button.neon-btn.btn__icon.--stop,
  input[type="button"].neon-btn.btn__icon.--stop,
  input[type="submit"].neon-btn.btn__icon.--stop {
    background-image: url("../../imgs/buttons/icon_stop.png");
  }
  button.neon-btn.btn__icon.--tape,
  input[type="button"].neon-btn.btn__icon.--tape,
  input[type="submit"].neon-btn.btn__icon.--tape {
    background-image: url("../../imgs/buttons/icon_tape.png");
  }
  button.neon-btn.btn__icon.--upload,
  input[type="button"].neon-btn.btn__icon.--upload,
  input[type="submit"].neon-btn.btn__icon.--upload {
    background-image: url("../../imgs/buttons/icon_upload.png");
  }
  button.neon-btn.btn__icon.--view,
  input[type="button"].neon-btn.btn__icon.--view,
  input[type="submit"].neon-btn.btn__icon.--view {
    background-image: url("../../imgs/buttons/icon_view.png");
  }
  button,
  input [type="button"],
  input [type="submit"] {
    /*Cor dos botões*/
  }
  button.bg__color.--ametist, button.bg__color.--emerald, button.bg__color.--ruby, button.bg__color.--sapphire,
  input [type="button"].bg__color.--ametist,
  input [type="button"].bg__color.--emerald,
  input [type="button"].bg__color.--ruby,
  input [type="button"].bg__color.--sapphire,
  input [type="submit"].bg__color.--ametist,
  input [type="submit"].bg__color.--emerald,
  input [type="submit"].bg__color.--ruby,
  input [type="submit"].bg__color.--sapphire {
    color: white;
  }
  button.bg__color.--ametist,
  input [type="button"].bg__color.--ametist,
  input [type="submit"].bg__color.--ametist {
    background-color: var(--colorAmetist);
  }
  button.bg__color.--emerald,
  input [type="button"].bg__color.--emerald,
  input [type="submit"].bg__color.--emerald {
    background-color: var(--colorEmerald) !important;
  }
  button.bg__color.--ruby,
  input [type="button"].bg__color.--ruby,
  input [type="submit"].bg__color.--ruby {
    background-color: var(--colorRuby) !important;
  }
  button.bg__color.--sapphire,
  input [type="button"].bg__color.--sapphire,
  input [type="submit"].bg__color.--sapphire {
    background-color: var(--colorSapphire) !important;
  }
  button.bg__color.--basecolor_2,
  input [type="button"].bg__color.--basecolor_2,
  input [type="submit"].bg__color.--basecolor_2 {
    background-color: var(--baseColor2) !important;
  }
  button .basecolor_1,
  input [type="button"] .basecolor_1,
  input [type="submit"] .basecolor_1 {
    background-color: var(--baseColor) !important;
  }
  button button.basecolor_3,
  input [type="button"] button.basecolor_3,
  input [type="submit"] button.basecolor_3 {
    background-color: var(--baseColor3) !important;
  }
}

/* 
    Extra small devices (phones, 600px and down) 
    Small devices (portrait tablets and large phones, 600px and up)
*/
@media only screen and (max-width: 768px) {
  button.btn.--small {
    min-width: 80px !important;
  }
}

@media screen and (max-width: 800px) {
  button.btn__tamanho.--medio, button.btn__tamanho.--mid,
  input [type="button"].btn__tamanho.--medio,
  input [type="button"].btn__tamanho.--mid,
  input [type="submit"].btn__tamanho.--medio,
  input [type="submit"].btn__tamanho.--mid {
    min-width: 100px !important;
  }
}
/*# sourceMappingURL=Buttons.css.map */