@media all {
  .Neon-dataset .dataset__amoung {
    display: block;
    font-size: 14px;
    padding: 20px 0px;
  }
  .Neon-dataset table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
  }
  .Neon-dataset table tr td,
  .Neon-dataset table tr th {
    padding: 10px;
  }
  .Neon-dataset table thead {
    border-bottom: 1px solid #ccc;
  }
  .Neon-dataset table thead th {
    color: #5c5c5c;
    text-align: left;
    text-transform: uppercase;
  }
  .Neon-dataset table tr:nth-child(even) {
    background-color: #fbfbfb;
  }
  .Neon-dataset table tbody tr:hover {
    background-color: #f1f1f1;
    text-shadow: 0px 0px 1px #3c3c3c;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  .Neon-dataset table tbody tr:hover button {
    display: initial !important;
  }
  .Neon-dataset table tbody tr td {
    border-bottom: 1px solid #f1f1f1;
  }
  .Neon-dataset table tbody tr td button {
    background-color: transparent !important;
  }
  .Neon-dataset button {
    border-radius: 5px;
    border: 0px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-weight: bold;
    margin: 0 2.5px;
    padding: 5px 10px;
  }
  .Neon-dataset button:hovere {
    -webkit-filter: saturate(50%);
            filter: saturate(50%);
  }
}

@media screen and (max-width: 768px) {
  .Neon-dataset {
    overflow-x: auto;
  }
}
/*# sourceMappingURL=Dataset.css.map */