@media all {
    div.neon-dialog {
        background-color: var(--dialog-bg) !important;
        border-radius: 5px;
        box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3),
            0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
        font-family: var(--dialog-font);
        width: 300px;

        div.neon-dialog__header {
            color: var(--dialog-header-color);
            height: min-content;
            padding: 20px 20px 10px;

            button {
                background-color: transparent !important;
                border: none;
                color: #5c5c5c;
                cursor: pointer;
                filter: opacity(40%);
                float: right;
                font-weight: bold;
                height: 28px !important;
                line-height: 14px;
                margin-right: -10px;
                margin-top: -10px;
                padding: 0px 10px;
                text-align: center;
                transition: ease-in 0.3s;
                width: 28px !important;

                &:focus,
                &:hover {
                    filter: opacity(80%);
                }
            }
        }

        div.neon-dialog__body {
            color: var(--dialog-body-color);
            font-size: 14px !important;
            padding: 20px 20px 10px !important;
        }

        div.neon-dialog__footer {
            padding: 20px 20px 10px;
            text-align: right;

            button.neon-dialog__btn {
                background-color: var(--primary_color);
                border: none;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                filter: saturate(100%);
                font-size: 14px;
                font-weight: bold;
                line-height: 14px;
                margin-left: 5px;
                padding: 10px 12px;
                transition: ease-in 0.3s;

                &.--close {
                    background-color: var(--dialog-btn-close-bg);
                    color: var(--dialog-btn-close-color);
                }
                &.--cancel {
                    background-color: transparent;
                    color: #9c9c9c;
                    &:focus,
                    &:hover {
                        color: var(--colorRuby);
                    }
                }
                &:focus,
                &:hover {
                    filter: saturate(50%);
                }
            }
        }
    }
}
