@media all {
    .neon-dropdown {
        display: inline-block;
        position: relative;
        width: max-content;
    }

    .neon-dropdown-window {
        animation: fade-in2 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .neon-dropdown-window.--active {
        display: block;
    }

    .neon-dropdown-window.--right {
        right: 0;
    }
}
