@charset "utf-8";

@import "../lib/forms/plate";

@media all {
    form {
        * {
            box-sizing: border-box;
        }

        /* @desc: definições dos fieldsets*/
        fieldset {
            border: none !important;
            display: block;
            margin-bottom: 1rem;
            margin-inline-start: 0;
            margin-inline-end: 0;
            padding-block-start: 0;
            padding-block-end: 0;
            padding-inline-start: 0;
            padding-inline-end: 0;
        }

        label {
            display: block;
            margin: 10px 0;
        }
        /* @desc: definições dos labels do formulário */
        label.label__type {
            &.--bold {
                font-weight: bold;
            }
            &.--light {
                font-weight: lighter;
            }
        }

        /* @desc.: definições do textarea */
        textarea {
            min-height: 100px;

            &.resize {
                &.--both {
                    resize: both;
                }
                &.--horizontal {
                    resize: horizontal;
                }
                &.--vertical {
                    resize: vertical;
                }
            }
        }

        /*Estilo personalizado do input file*/
        *.custom__file {
            font-size: 16px !important;

            input[type="file"] {
                display: none;
            }
        }

        /* @desc.: definições do readonly */
        input[readonly],
        select[readonly] {
            background: #eee !important;
            pointer-events: none;
            touch-action: none;
        }
    }
}

/**
* @desc: estilos padrões para os elementos de um fomulário
**/
@media all {
    /* reseta as definições dos formulários */
    form {
        outline: none;

        input {
            *:required {
                background-color: rgba(255, 255, 0, 0.05) !important;
            }

            &:required {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
            }
            &:required:invalid {
                box-shadow: none;
            }
        }
    }

    input[type="checkbox"] {
        outline: none;
        padding: 10px;
    }
    /* adiciona o cursor finger no mouse */
    input[type="checkbox"],
    input[type="radio"],
    select {
        cursor: pointer !important;
    }

    form input,
    form textarea {
        font-size: 14px !important;
        line-height: 14px !important;
    }
    form textarea {
        resize: none;
    }

    /**
	* @desc: estilos de estrutura do formulária
	**/
    .form__row {
        display: flex;
        flex-wrap: wrap;
    }
    .form__row [class*="column-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
}
