@charset "UTF-8";
@media all {
  form.form__model.--plate label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1em;
  }
  form.form__model.--plate input[type="email"],
  form.form__model.--plate input[type="number"],
  form.form__model.--plate input[type="password"],
  form.form__model.--plate input[type="text"],
  form.form__model.--plate input[type="time"],
  form.form__model.--plate input[type="url"],
  form.form__model.--plate textarea {
    background-color: #f5f5f6;
    border: 1px solid #dfdfdf;
    color: #5c5c5c;
    height: 48px;
    padding: 5px 16px !important;
    width: 100%;
  }
  form.form__model.--plate input[type="email"]:active, form.form__model.--plate input[type="email"]:focus,
  form.form__model.--plate input[type="number"]:active,
  form.form__model.--plate input[type="number"]:focus,
  form.form__model.--plate input[type="password"]:active,
  form.form__model.--plate input[type="password"]:focus,
  form.form__model.--plate input[type="text"]:active,
  form.form__model.--plate input[type="text"]:focus,
  form.form__model.--plate input[type="time"]:active,
  form.form__model.--plate input[type="time"]:focus,
  form.form__model.--plate input[type="url"]:active,
  form.form__model.--plate input[type="url"]:focus,
  form.form__model.--plate textarea:active,
  form.form__model.--plate textarea:focus {
    border-bottom-color: #8e44ad !important;
  }
  form.form__model.--plate select {
    border: 0;
    padding: 16px;
    width: 100%;
  }
  form.form__model.--plate .custom__file {
    background-color: #00cec9;
    color: white;
    cursor: pointer;
    font-size: 16px !important;
    padding: 10px;
    text-align: center;
    width: 100px;
  }
  form.form__model.--plate button[type="button"],
  form.form__model.--plate button[type="submit"] {
    background: red;
    border: 0;
    cursor: pointer;
    font-size: 16px !important;
    margin-top: 10px;
    padding: 10px;
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  label.custom__file {
    height: 48px;
  }
  label.custom__file span {
    line-height: 28px;
  }
}

@media all {
  form.form__model.--plate span.select2-container {
    width: 100% !important;
  }
  form.form__model.--plate span.select2-container span.select2-selection {
    background-color: #f5f5f6;
    border: 1px solid #dfdfdf;
    height: 48px;
  }
  form.form__model.--plate span.select2-container span.select2-selection span.select2-selection__rendered,
  form.form__model.--plate span.select2-container span.select2-selection span.select2-selection__arrow {
    line-height: 48px;
    height: 48px;
  }
}

@media all {
  form {
    /* @desc: definições dos fieldsets*/
    /* @desc: definições dos labels do formulário */
    /* @desc.: definições do textarea */
    /*Estilo personalizado do input file*/
    /* @desc.: definições do readonly */
  }
  form * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  form fieldset {
    border: none !important;
    display: block;
    margin-bottom: 1rem;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    -webkit-padding-before: 0;
            padding-block-start: 0;
    -webkit-padding-after: 0;
            padding-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-padding-end: 0;
            padding-inline-end: 0;
  }
  form label {
    display: block;
    margin: 10px 0;
  }
  form label.label__type.--bold {
    font-weight: bold;
  }
  form label.label__type.--light {
    font-weight: lighter;
  }
  form textarea {
    min-height: 100px;
  }
  form textarea.resize.--both {
    resize: both;
  }
  form textarea.resize.--horizontal {
    resize: horizontal;
  }
  form textarea.resize.--vertical {
    resize: vertical;
  }
  form *.custom__file {
    font-size: 16px !important;
  }
  form *.custom__file input[type="file"] {
    display: none;
  }
  form input[readonly],
  form select[readonly] {
    background: #eee !important;
    pointer-events: none;
    -ms-touch-action: none;
        touch-action: none;
  }
}

/**
* @desc: estilos padrões para os elementos de um fomulário
**/
@media all {
  /* reseta as definições dos formulários */
  form {
    outline: none;
  }
  form input *:required {
    background-color: rgba(255, 255, 0, 0.05) !important;
  }
  form input:required {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  form input:required:invalid {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  input[type="checkbox"] {
    outline: none;
    padding: 10px;
  }
  /* adiciona o cursor finger no mouse */
  input[type="checkbox"],
  input[type="radio"],
  select {
    cursor: pointer !important;
  }
  form input,
  form textarea {
    font-size: 14px !important;
    line-height: 14px !important;
  }
  form textarea {
    resize: none;
  }
  /**
	* @desc: estilos de estrutura do formulária
	**/
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__row [class*="column-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}
/*# sourceMappingURL=Forms.css.map */