@media all {
  *.text-align.--center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  *.text-align.--left {
    text-align: left;
  }
  *.text-align.--right {
    text-align: right;
  }
}
/*# sourceMappingURL=General.css.map */