@media all {
    *.text-align {
        &.--center {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        &.--left {
            text-align: left;
        }
        &.--right {
            text-align: right;
        }
    }
}
