@charset "UTF-8";
/**
* @desc: definições para usar elementos usando com o modelo grid GS
**/
@media all {
  .col__1,
  .col__2,
  .col__3,
  .col__4,
  .col__5,
  .col__6,
  .col__7,
  .col__8,
  .col__9,
  .col__10,
  .col__11,
  .col__12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col__1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33%;
            flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col__2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.667%;
            flex: 0 0 16.667%;
    max-width: 16.667%;
  }
  .col__3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col__4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col__5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.667%;
            flex: 0 0 41.667%;
    max-width: 41.667%;
  }
  .col__6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col__7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33%;
            flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col__8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.667%;
            flex: 0 0 66.667%;
    max-width: 66.667%;
  }
  .col__9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col__10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83%;
            flex: 0 0 83%;
    max-width: 83%;
  }
  .col__11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66%;
            flex: 0 0 91.66%;
    max-width: 91.66%;
  }
  .col__12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  *.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
  }
}

/**
  * @desc: definições para quando a tela for mobile
  **/
@media screen and (max-width: 800px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col__1,
  .col__2,
  .col__3,
  .col__4,
  .col__5,
  .col__6,
  .col__7,
  .col__8,
  .col__9,
  .col__10,
  .col__11,
  .col__12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: initial;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
  }
}
/*# sourceMappingURL=Grid.css.map */