@media all {
  .c-loader {
    -webkit-animation: is-rotating 0.9s infinite;
            animation: is-rotating 0.9s infinite;
    border: 2px solid #e5e5e5;
    border-top-color: green;
    border-radius: 100%;
    height: 80px;
    margin: 0 auto;
    width: 80px;
  }
}

@-webkit-keyframes is-rotating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-transition: ease-in;
    transition: ease-in;
  }
}

@keyframes is-rotating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-transition: ease-in;
    transition: ease-in;
  }
}
/*# sourceMappingURL=Loader.css.map */