@media all {
  .neon-modal {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    background-color: rgba(9, 30, 66, 0.54);
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
  }
}
/*# sourceMappingURL=Modal.css.map */