@media all {
  div.neon-page__header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 40px;
    margin: -20px -40px 20px;
  }
  div.neon-page__header .neon-page__icon,
  div.neon-page__header .neon-page__info,
  div.neon-page__header .neon-page__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  div.neon-page__header .neon-page__icon {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
  }
  div.neon-page__header .neon-page__icon figure {
    background-color: #fff;
    -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
            box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: middle;
    height: 52px;
    width: 52px;
    margin: 0;
    margin-right: 10px !important;
  }
  div.neon-page__header .neon-page__icon figure img {
    width: 28px;
  }
  div.neon-page__header .neon-page__action {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    width: 20% !important;
  }
  div.neon-page__header .--title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
  }
  div.neon-page__header .--subtitle {
    padding: 3px 0 0;
    font-size: 0.88rem;
    opacity: 0.6;
  }
}
/*# sourceMappingURL=Pages.css.map */