@media all {
    div.neon-page__header {
        align-items: center;
        box-sizing: border-box;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: row;
        padding: 30px 40px;
        margin: -20px -40px 20px;

        .neon-page__icon,
        .neon-page__info,
        .neon-page__action {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .neon-page__icon {
            width: max-content !important;
            figure {
                background-color: #fff;
                box-shadow: 0 .46875rem 2.1875rem rgba(4,9,20,.03),0 .9375rem 1.40625rem rgba(4,9,20,.03),0 .25rem .53125rem rgba(4,9,20,.05),0 .125rem .1875rem rgba(4,9,20,.03);
                display: flex;
                justify-content: center;
                vertical-align: middle;
                height: 52px;
                width: 52px;
                margin: 0;
                margin-right: 10px !important;

                img {
                    width: 28px;
                }
            }
        }

        .neon-page__action {
            align-items: end;
            width: 20% !important;
        }

        .--title {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
        }
        .--subtitle {
            padding: 3px 0 0;
            font-size: 0.88rem;
            opacity: 0.6;
        }
    }
    div.neon-page__body {
    }
}
