@media all {
  .neon-tab {
    min-width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .neon-tab nav.neon-tab__nav {
    border-bottom: 2px solid #15418c;
  }
  .neon-tab nav.neon-tab__nav button.neon-nav__tab {
    background-color: #15418c;
    color: #fff;
    border: 0;
    border-radius: 5px 5px 0px 0px !important;
    cursor: pointer;
    font-size: 14px !important;
    font-weight: bold;
    padding: 10px 15px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .neon-tab nav.neon-tab__nav button.neon-nav__tab.active {
    background-color: #2e6edc;
  }
  .neon-tab nav.neon-tab__nav button.neon-nav__tab:hover {
    -webkit-filter: saturate(50%);
            filter: saturate(50%);
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .neon-tab .neon-tab__container div.neon-tab__content {
    display: none;
    padding: 10px;
  }
  .neon-tab .neon-tab__container div.neon-tab__content.--active {
    display: block !important;
  }
  .neon-tab .neon-tab__container div.neon-tab__content div.neon-tab__content__header button.neon-window__close {
    background-color: transparent !important;
    border: none;
  }
  .neon-tab .neon-tab__container div.neon-tab__content div.neon-tab__content__header,
  .neon-tab .neon-tab__container div.neon-tab__content div.neon-tab__content__body {
    margin: 10px 0px;
  }
  object {
    display: block;
    min-height: 640px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  #tabItem-2 {
    width: 767px;
  }
}

@media (max-width: 320px) {
  #tabItem-2 {
    width: 100%;
  }
}
/*# sourceMappingURL=Tabs.css.map */