@media all {
    // Estrutura principal das abas
    .neon-tab {
        min-width: 100%;
        max-width: max-content;

        // Estrutura das abas de navegação
        nav.neon-tab__nav {
            border-bottom: 2px solid #15418c;

            // Botões de ativação
            button.neon-nav__tab {
                background-color: #15418c;
                color: #fff;
                border: 0;
                border-radius: 5px 5px 0px 0px !important;
                cursor: pointer;
                font-size: 14px !important;
                font-weight: bold;
                padding: 10px 15px;
                width: max-content;
                
                &.active {
                    background-color: #2e6edc;
                }
                &:hover {
                    filter: saturate(50%);
                    transition: ease-in-out 0.3s;
                }
            }
        }

        // Estrutura que contem as áreas
        .neon-tab__container {
            // Estrutura do conteúdo das abas
            div.neon-tab__content {
                display: none;
                padding: 10px;

                &.--active {
                    display: block !important;
                }

                div.neon-tab__content__header {
                    button.neon-window__close {
                        background-color: transparent !important;
                        border: none;
                    }
                }

                div.neon-tab__content__header,
                div.neon-tab__content__body {
                    margin: 10px 0px;
                }
            }
        }
    }

    object {
        display: block;
        min-height: 640px;
        width: 100%;
    }
}

@media (min-width: 768px) {
    #tabItem-2 {
        width: 767px;
    }
}

@media (max-width: 320px) {
    #tabItem-2 {
        width: 100%;
    }
}
