@media all {
  div.neon-window {
    background-color: white;
    -webkit-box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
            box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 10vh auto;
    max-width: 500px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: auto;
  }
  div.neon-window.hide {
    height: 0;
  }
  div.neon-window .neon-window__header,
  div.neon-window .neon-window__body,
  div.neon-window .neon-window__footer {
    padding: 1rem;
  }
  div.neon-window .neon-window__header,
  div.neon-window .neon-window__body {
    border-bottom: 1px solid #e9ecef;
  }
  div.neon-window .neon-window__header {
    min-height: 32px;
  }
  div.neon-window .neon-window__header h2.neon-window__title {
    display: inline-block;
    -webkit-filter: opacity(80%);
            filter: opacity(80%);
    font-size: revert !important;
    font-weight: 400;
    padding: 0 !important;
  }
  div.neon-window .neon-window__header button.neon-window__close {
    background-color: transparent;
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-round-256.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    border: none;
    cursor: pointer;
    float: right;
    -webkit-filter: opacity(60%);
            filter: opacity(60%);
    margin-right: -16px;
    margin-top: -16px;
    padding: 24px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  div.neon-window .neon-window__header button.neon-window__close:hover {
    -webkit-filter: opacity(80%);
            filter: opacity(80%);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  div.neon-window .neon-window__footer {
    text-align: right;
  }
  div.neon-window .neon-window__footer button {
    color: #3c3c3c;
  }
}

@media (min-width: 481px) and (max-width: 640px) {
  div.neon-window {
    width: calc(100vw - 70px) !important;
  }
}

@media (max-width: 480px) {
  div.neon-window {
    width: calc(100vw - 50px);
  }
}
/*# sourceMappingURL=Window.css.map */