@media all {
    div.neon-window {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3),
            0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
        border-radius: 5px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
        margin: 10vh auto;
        max-width: 500px;
        width: max-content;
        height: auto;

        &.hide {
            height: 0;
        }

        .neon-window__header,
        .neon-window__body,
        .neon-window__footer {
            padding: 1rem;
        }

        .neon-window__header,
        .neon-window__body {
            border-bottom: 1px solid #e9ecef;
        }

        .neon-window__header {
            min-height: 32px;

            h2.neon-window__title {
                display: inline-block;
                filter: opacity(80%);
                font-size: revert !important;
                font-weight: 400;
                padding: 0 !important;
            }
        }

        .neon-window__header button.neon-window__close {
            background-color: transparent;
            background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-round-256.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 18px;
            border: none;
            cursor: pointer;
            float: right;
            filter: opacity(60%);
            margin-right: -16px;
            margin-top: -16px;
            padding: 24px;
            transition-duration: 0.5s;

            &:hover {
                filter: opacity(80%);
                transform: rotate(180deg);
            }
        }

        .neon-window__footer {
            text-align: right;

            button {
                color: #3c3c3c;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    div.neon-window {
        width: calc(100vw - 70px) !important;
    }
}

@media (max-width: 480px) {
    div.neon-window {
        width: calc(100vw - 50px);
    }
}
