@media all {
  section.workspace {
    background-color: white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }
  section.workspace.--underline div.workspace__header,
  section.workspace.--underline div.workspace__body {
    border-bottom: 1px solid #f0f0f0;
  }
  section.workspace div.workspace__header h4 {
    -webkit-filter: opacity(80%);
            filter: opacity(80%);
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
  section.workspace div.workspace__header.--underline {
    border-bottom: 1px solid #f0f0f0;
  }
  section.workspace div.workspace__header,
  section.workspace div.workspace__body,
  section.workspace div.workspace__footer {
    padding: 20px 15px 20px;
  }
}
/*# sourceMappingURL=Workspace.css.map */