@media all {
    section.workspace {
        background-color: white;
        // border-radius: 10px;
        border-radius: 3px;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;

        // Adiciona linha para separar as partes da seção
        &.--underline {
            div.workspace__header,
            div.workspace__body {
                border-bottom: 1px solid #f0f0f0;
            }
        }

        div.workspace__header {
            h4 {
                filter: opacity(80%);
                font-weight: bold;
                padding: 0;
                margin: 0;
                text-transform: uppercase;
            }
        }

        div.workspace__header.--underline {
            border-bottom: 1px solid #f0f0f0;
        }

        // Configuração da borda

        div.workspace__header,
        div.workspace__body,
        div.workspace__footer {
            padding: 20px 15px 20px;
        }
    }
}
