@media all {
  body {
    background-color: #f2f2f2;
    color: #3c3c3c;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 0;
  }
  header {
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px 25px;
  }
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 177px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px;
    text-align: center;
  }
  main div {
    width: 300px;
  }
  main div h2 {
    font-size: 18px;
    font-weight: 400;
  }
}
/*# sourceMappingURL=error.css.map */