@media all {
    body {
        background-color: #f2f2f2;
        color: #3c3c3c;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
        font-size: 16px;
        margin: 0;
    }

    header {
        background-color: #fff;
        box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: row;
        padding: 20px 25px;
    }

    main {
        align-items: center;
        display: flex;
        height: calc(100vh - 177px);
        justify-content: center;
        padding: 40px;
        text-align: center;

        div {
            width: 300px;
            h2 {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}
