@media all {
    :root {
        // Cores padrões
        --primary-color: #000;

        /* Definição das cores de botões*/
        --btn-cancel: #c0392b;
        --btn-cancel-text-color: rgba(255, 255, 255, 1);
        --btn-confirm: #2ecc71;
        --btn-confirm-text-color: rgba(255, 255, 255, 1);
        --btn-return: #ccc;
        --btn-return-text-color: #5c5c5c;

        // Regras para o loader
        --loader-color: green;
        --loader-bg: #e5e5e5;

        // Regras do Dialog
        --dialog-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
        --dialog-bg: rgba(255, 255, 255, 1); // Cor do fundo da janela
        --dialog-btn-close-bg: rgba(255, 255, 255, 1);
        --dialog-btn-close-color: #5c5c5c;
        --dialog-header-color: #3c3c3c; // Cor do texto do corpo
        --dialog-body-color: #3c3c3c; // Cor do texto do corpo
    }
}

// Definição de variáveis para cores no tema escuro
@media (prefers-color-scheme: dark) {
    :root {
        // Definição da cor dos elementos base do layout
        --body-bg: #1c1c1c;
        --body-text-color: #f2f2f2;
        --footer-bg: #0c0c0c;
        --footer-text-color: #f2f2f2;
        --header-bg: rgba(255, 255, 255, 1);
    }
}

// Definição de variáveis para cores no tema claro
@media (prefers-color-scheme: light) {
    :root {
        // Definição da cor dos elementos base do layout
        --body-bg: #f2f2f2;
        --body-text-color: #3c3c3c;
        --footer-bg: #1c1c1c;
        --footer-text-color: #f2f2f2;
        --header-bg: rgba(255, 255, 255, 1);
    }
}

// Definição das variáveis de cores para o formulário
