@charset "utf-8";

// Importação das variáveis
@import "root";

// Importação de widgets gerais
@import "widgets/Buttons.scss";
@import "widgets/Dialog.scss";
@import "widgets/Grid.scss";
@import "widgets/Loader.scss";
@import "widgets/Modal.scss";

@media all {
    body {
        background-color: var(--body-bg);
        color: var(--body-text-color);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
        font-size: 16px;
        margin: 0;
    }

    header.neon__header {
        background-color: var(--header-bg);
        color: var(--header-color);
        box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.05);
        display: flex;
        height: 49px;
        flex-direction: row;
        padding: 5px 25px;
    }

    main.neon__main {
        height: auto;
        min-height: calc(100vh - 175px);
        padding: 40px;
    }

    footer.neon__footer {
        color: var(--footer-text-color);
        background-color: var(--footer-bg);
        padding: 10px;

        span {
            display: block;
            font-size: 12px;
            text-align: center;
        }
    }
}

// Regras para os cabelhos
@media all {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
    }
}
