@charset "UTF-8";
@media all {
  :root {
    --primary-color: #000;
    /* Definição das cores de botões*/
    --btn-cancel: #c0392b;
    --btn-cancel-text-color: rgba(255, 255, 255, 1);
    --btn-confirm: #2ecc71;
    --btn-confirm-text-color: rgba(255, 255, 255, 1);
    --btn-return: #ccc;
    --btn-return-text-color: #5c5c5c;
    --loader-color: green;
    --loader-bg: #e5e5e5;
    --dialog-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
    --dialog-bg: rgba(255, 255, 255, 1);
    --dialog-btn-close-bg: rgba(255, 255, 255, 1);
    --dialog-btn-close-color: #5c5c5c;
    --dialog-header-color: #3c3c3c;
    --dialog-body-color: #3c3c3c;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #1c1c1c;
    --body-text-color: #f2f2f2;
    --footer-bg: #0c0c0c;
    --footer-text-color: #f2f2f2;
    --header-bg: rgba(255, 255, 255, 1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --body-bg: #f2f2f2;
    --body-text-color: #3c3c3c;
    --footer-bg: #1c1c1c;
    --footer-text-color: #f2f2f2;
    --header-bg: rgba(255, 255, 255, 1);
  }
}

/**
* @desc: estilos que definem os botões do sistema como um todo
**/
@media all {
  button.neon-btn,
  input[type="button"].neon-btn,
  input[type="submit"].neon-btn {
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
    font-weight: bold;
  }
  button.neon-btn:active, button.neon-btn:focus, button.neon-btn:hover,
  input[type="button"].neon-btn:active,
  input[type="button"].neon-btn:focus,
  input[type="button"].neon-btn:hover,
  input[type="submit"].neon-btn:active,
  input[type="submit"].neon-btn:focus,
  input[type="submit"].neon-btn:hover {
    -webkit-filter: opacity(100);
            filter: opacity(100);
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  button.neon-btn:disabled,
  input[type="button"].neon-btn:disabled,
  input[type="submit"].neon-btn:disabled {
    -webkit-filter: saturate(10%) !important;
            filter: saturate(10%) !important;
  }
  button.neon-btn.--cancel,
  input[type="button"].neon-btn.--cancel,
  input[type="submit"].neon-btn.--cancel {
    background-color: var(--btn-cancel);
    color: var(--btn-cancel-text-color);
  }
  button.neon-btn.--confirm,
  input[type="button"].neon-btn.--confirm,
  input[type="submit"].neon-btn.--confirm {
    background-color: var(--btn-confirm);
    color: var(--btn-confirm-text-color);
  }
  button.neon-btn.--return,
  input[type="button"].neon-btn.--return,
  input[type="submit"].neon-btn.--return {
    background-color: var(--btn-return);
    color: var(--btn-return-text-color);
  }
  button.neon-btn.btn__shape.--leafLeft, button.neon-btn.btn__shape.--folhaEsquerda,
  input[type="button"].neon-btn.btn__shape.--leafLeft,
  input[type="button"].neon-btn.btn__shape.--folhaEsquerda,
  input[type="submit"].neon-btn.btn__shape.--leafLeft,
  input[type="submit"].neon-btn.btn__shape.--folhaEsquerda {
    border: 0px;
    border-radius: 20px 0px 20px 0px;
  }
  button.neon-btn.btn__shape.--quadro, button.neon-btn.btn__shape.--square,
  input[type="button"].neon-btn.btn__shape.--quadro,
  input[type="button"].neon-btn.btn__shape.--square,
  input[type="submit"].neon-btn.btn__shape.--quadro,
  input[type="submit"].neon-btn.btn__shape.--square {
    border-radius: 0px !important;
  }
  button.neon-btn.btn__shape.--suave, button.neon-btn.btn__shape.--smooth,
  input[type="button"].neon-btn.btn__shape.--suave,
  input[type="button"].neon-btn.btn__shape.--smooth,
  input[type="submit"].neon-btn.btn__shape.--suave,
  input[type="submit"].neon-btn.btn__shape.--smooth {
    border-radius: 3px !important;
  }
  button.neon-btn.btn__shape.--redonda, button.neon-btn.btn__shape.--circle,
  input[type="button"].neon-btn.btn__shape.--redonda,
  input[type="button"].neon-btn.btn__shape.--circle,
  input[type="submit"].neon-btn.btn__shape.--redonda,
  input[type="submit"].neon-btn.btn__shape.--circle {
    border-radius: 100% !important;
  }
  button.neon-btn.btn__size.--fixed,
  input[type="button"].neon-btn.btn__size.--fixed,
  input[type="submit"].neon-btn.btn__size.--fixed {
    height: initial !important;
  }
  button.neon-btn.btn__size.--great,
  input[type="button"].neon-btn.btn__size.--great,
  input[type="submit"].neon-btn.btn__size.--great {
    font-weight: 400;
    letter-spacing: 0.5pt;
    padding: 16px !important;
    width: 100% !important;
  }
  button.neon-btn.btn__size.--large,
  input[type="button"].neon-btn.btn__size.--large,
  input[type="submit"].neon-btn.btn__size.--large {
    padding: 7.5px 10px;
    width: 100% !important;
  }
  button.neon-btn.btn__size.--mid,
  input[type="button"].neon-btn.btn__size.--mid,
  input[type="submit"].neon-btn.btn__size.--mid {
    min-width: 80px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px 12px;
  }
  button.neon-btn.btn__size.--small,
  input[type="button"].neon-btn.btn__size.--small,
  input[type="submit"].neon-btn.btn__size.--small {
    min-width: auto;
    padding: 5px;
  }
  button.neon-btn.btn__icon,
  input[type="button"].neon-btn.btn__icon,
  input[type="submit"].neon-btn.btn__icon {
    /*Ícones dos botões*/
  }
  button.neon-btn.btn__icon.--before,
  input[type="button"].neon-btn.btn__icon.--before,
  input[type="submit"].neon-btn.btn__icon.--before {
    background-size: 12px;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    padding-left: 30px !important;
  }
  button.neon-btn.btn__icon.--add,
  input[type="button"].neon-btn.btn__icon.--add,
  input[type="submit"].neon-btn.btn__icon.--add {
    background-image: url("../../imgs/buttons/icon_add.png");
  }
  button.neon-btn.btn__icon.--back,
  input[type="button"].neon-btn.btn__icon.--back,
  input[type="submit"].neon-btn.btn__icon.--back {
    background-image: url("../../imgs/buttons/icon_back.png");
  }
  button.neon-btn.btn__icon.--del,
  input[type="button"].neon-btn.btn__icon.--del,
  input[type="submit"].neon-btn.btn__icon.--del {
    background-image: url("../../imgs/buttons/icon_del.png");
  }
  button.neon-btn.btn__icon.--download,
  input[type="button"].neon-btn.btn__icon.--download,
  input[type="submit"].neon-btn.btn__icon.--download {
    background-image: url("../../imgs/buttons/icon_download.png");
  }
  button.neon-btn.btn__icon.--edit,
  input[type="button"].neon-btn.btn__icon.--edit,
  input[type="submit"].neon-btn.btn__icon.--edit {
    background-image: url("../../imgs/buttons/icon_edit.png");
  }
  button.neon-btn.btn__icon.--filter,
  input[type="button"].neon-btn.btn__icon.--filter,
  input[type="submit"].neon-btn.btn__icon.--filter {
    background-image: url("../../imgs/buttons/icon_filter.png");
  }
  button.neon-btn.btn__icon.--gear,
  input[type="button"].neon-btn.btn__icon.--gear,
  input[type="submit"].neon-btn.btn__icon.--gear {
    background-image: url("../../imgs/buttons/icon_gear.png");
  }
  button.neon-btn.btn__icon.--help,
  input[type="button"].neon-btn.btn__icon.--help,
  input[type="submit"].neon-btn.btn__icon.--help {
    background-image: url("../../imgs/buttons/icon_help.png");
  }
  button.neon-btn.btn__icon.--list,
  input[type="button"].neon-btn.btn__icon.--list,
  input[type="submit"].neon-btn.btn__icon.--list {
    background-image: url("../../imgs/buttons/icon_list.png");
  }
  button.neon-btn.btn__icon.--minus,
  input[type="button"].neon-btn.btn__icon.--minus,
  input[type="submit"].neon-btn.btn__icon.--minus {
    background-image: url("../../imgs/buttons/icon_minus.png");
  }
  button.neon-btn.btn__icon.--paste,
  input[type="button"].neon-btn.btn__icon.--paste,
  input[type="submit"].neon-btn.btn__icon.--paste {
    background-image: url("../../imgs/buttons/icon_paste.png");
  }
  button.neon-btn.btn__icon.--pause,
  input[type="button"].neon-btn.btn__icon.--pause,
  input[type="submit"].neon-btn.btn__icon.--pause {
    background-image: url("../../imgs/buttons/icon_pause.png");
  }
  button.neon-btn.btn__icon.--play,
  input[type="button"].neon-btn.btn__icon.--play,
  input[type="submit"].neon-btn.btn__icon.--play {
    background-image: url("../../imgs/buttons/icon_play.png");
  }
  button.neon-btn.btn__icon.--power,
  input[type="button"].neon-btn.btn__icon.--power,
  input[type="submit"].neon-btn.btn__icon.--power {
    background-image: url("../../imgs/buttons/icon_power.png");
  }
  button.neon-btn.btn__icon.--reload,
  input[type="button"].neon-btn.btn__icon.--reload,
  input[type="submit"].neon-btn.btn__icon.--reload {
    background-image: url("../../imgs/buttons/icon_reload.png");
  }
  button.neon-btn.btn__icon.--report,
  input[type="button"].neon-btn.btn__icon.--report,
  input[type="submit"].neon-btn.btn__icon.--report {
    background-image: url("../../imgs/buttons/icon_report.png");
  }
  button.neon-btn.btn__icon.--save,
  input[type="button"].neon-btn.btn__icon.--save,
  input[type="submit"].neon-btn.btn__icon.--save {
    background-image: url("../../imgs/buttons/icon_save.png");
  }
  button.neon-btn.btn__icon.--search,
  input[type="button"].neon-btn.btn__icon.--search,
  input[type="submit"].neon-btn.btn__icon.--search {
    background-image: url("../../imgs/buttons/icon_search.png");
  }
  button.neon-btn.btn__icon.--stop,
  input[type="button"].neon-btn.btn__icon.--stop,
  input[type="submit"].neon-btn.btn__icon.--stop {
    background-image: url("../../imgs/buttons/icon_stop.png");
  }
  button.neon-btn.btn__icon.--tape,
  input[type="button"].neon-btn.btn__icon.--tape,
  input[type="submit"].neon-btn.btn__icon.--tape {
    background-image: url("../../imgs/buttons/icon_tape.png");
  }
  button.neon-btn.btn__icon.--upload,
  input[type="button"].neon-btn.btn__icon.--upload,
  input[type="submit"].neon-btn.btn__icon.--upload {
    background-image: url("../../imgs/buttons/icon_upload.png");
  }
  button.neon-btn.btn__icon.--view,
  input[type="button"].neon-btn.btn__icon.--view,
  input[type="submit"].neon-btn.btn__icon.--view {
    background-image: url("../../imgs/buttons/icon_view.png");
  }
  button,
  input [type="button"],
  input [type="submit"] {
    /*Cor dos botões*/
  }
  button.bg__color.--ametist, button.bg__color.--emerald, button.bg__color.--ruby, button.bg__color.--sapphire,
  input [type="button"].bg__color.--ametist,
  input [type="button"].bg__color.--emerald,
  input [type="button"].bg__color.--ruby,
  input [type="button"].bg__color.--sapphire,
  input [type="submit"].bg__color.--ametist,
  input [type="submit"].bg__color.--emerald,
  input [type="submit"].bg__color.--ruby,
  input [type="submit"].bg__color.--sapphire {
    color: white;
  }
  button.bg__color.--ametist,
  input [type="button"].bg__color.--ametist,
  input [type="submit"].bg__color.--ametist {
    background-color: var(--colorAmetist);
  }
  button.bg__color.--emerald,
  input [type="button"].bg__color.--emerald,
  input [type="submit"].bg__color.--emerald {
    background-color: var(--colorEmerald) !important;
  }
  button.bg__color.--ruby,
  input [type="button"].bg__color.--ruby,
  input [type="submit"].bg__color.--ruby {
    background-color: var(--colorRuby) !important;
  }
  button.bg__color.--sapphire,
  input [type="button"].bg__color.--sapphire,
  input [type="submit"].bg__color.--sapphire {
    background-color: var(--colorSapphire) !important;
  }
  button.bg__color.--basecolor_2,
  input [type="button"].bg__color.--basecolor_2,
  input [type="submit"].bg__color.--basecolor_2 {
    background-color: var(--baseColor2) !important;
  }
  button .basecolor_1,
  input [type="button"] .basecolor_1,
  input [type="submit"] .basecolor_1 {
    background-color: var(--baseColor) !important;
  }
  button button.basecolor_3,
  input [type="button"] button.basecolor_3,
  input [type="submit"] button.basecolor_3 {
    background-color: var(--baseColor3) !important;
  }
}

/* 
    Extra small devices (phones, 600px and down) 
    Small devices (portrait tablets and large phones, 600px and up)
*/
@media only screen and (max-width: 768px) {
  button.btn.--small {
    min-width: 80px !important;
  }
}

@media screen and (max-width: 800px) {
  button.btn__tamanho.--medio, button.btn__tamanho.--mid,
  input [type="button"].btn__tamanho.--medio,
  input [type="button"].btn__tamanho.--mid,
  input [type="submit"].btn__tamanho.--medio,
  input [type="submit"].btn__tamanho.--mid {
    min-width: 100px !important;
  }
}

@media all {
  div.neon-dialog {
    background-color: var(--dialog-bg) !important;
    border-radius: 5px;
    -webkit-box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
            box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
    font-family: var(--dialog-font);
    width: 300px;
  }
  div.neon-dialog div.neon-dialog__header {
    color: var(--dialog-header-color);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 20px 20px 10px;
  }
  div.neon-dialog div.neon-dialog__header button {
    background-color: transparent !important;
    border: none;
    color: #5c5c5c;
    cursor: pointer;
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
    float: right;
    font-weight: bold;
    height: 28px !important;
    line-height: 14px;
    margin-right: -10px;
    margin-top: -10px;
    padding: 0px 10px;
    text-align: center;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    width: 28px !important;
  }
  div.neon-dialog div.neon-dialog__header button:focus, div.neon-dialog div.neon-dialog__header button:hover {
    -webkit-filter: opacity(80%);
            filter: opacity(80%);
  }
  div.neon-dialog div.neon-dialog__body {
    color: var(--dialog-body-color);
    font-size: 14px !important;
    padding: 20px 20px 10px !important;
  }
  div.neon-dialog div.neon-dialog__footer {
    padding: 20px 20px 10px;
    text-align: right;
  }
  div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn {
    background-color: var(--primary_color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    -webkit-filter: saturate(100%);
            filter: saturate(100%);
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin-left: 5px;
    padding: 10px 12px;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn.--close {
    background-color: var(--dialog-btn-close-bg);
    color: var(--dialog-btn-close-color);
  }
  div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn.--cancel {
    background-color: transparent;
    color: #9c9c9c;
  }
  div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn.--cancel:focus, div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn.--cancel:hover {
    color: var(--colorRuby);
  }
  div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn:focus, div.neon-dialog div.neon-dialog__footer button.neon-dialog__btn:hover {
    -webkit-filter: saturate(50%);
            filter: saturate(50%);
  }
}

/**
* @desc: definições para usar elementos usando com o modelo grid GS
**/
@media all {
  .col__1,
  .col__2,
  .col__3,
  .col__4,
  .col__5,
  .col__6,
  .col__7,
  .col__8,
  .col__9,
  .col__10,
  .col__11,
  .col__12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col__1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33%;
            flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col__2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.667%;
            flex: 0 0 16.667%;
    max-width: 16.667%;
  }
  .col__3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col__4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col__5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.667%;
            flex: 0 0 41.667%;
    max-width: 41.667%;
  }
  .col__6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col__7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33%;
            flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col__8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.667%;
            flex: 0 0 66.667%;
    max-width: 66.667%;
  }
  .col__9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col__10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83%;
            flex: 0 0 83%;
    max-width: 83%;
  }
  .col__11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66%;
            flex: 0 0 91.66%;
    max-width: 91.66%;
  }
  .col__12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  *.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
  }
}

/**
  * @desc: definições para quando a tela for mobile
  **/
@media screen and (max-width: 800px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col__1,
  .col__2,
  .col__3,
  .col__4,
  .col__5,
  .col__6,
  .col__7,
  .col__8,
  .col__9,
  .col__10,
  .col__11,
  .col__12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: initial;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
  }
}

@media all {
  .c-loader {
    -webkit-animation: is-rotating 0.9s infinite;
            animation: is-rotating 0.9s infinite;
    border: 2px solid #e5e5e5;
    border-top-color: green;
    border-radius: 100%;
    height: 80px;
    margin: 0 auto;
    width: 80px;
  }
}

@-webkit-keyframes is-rotating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-transition: ease-in;
    transition: ease-in;
  }
}

@keyframes is-rotating {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-transition: ease-in;
    transition: ease-in;
  }
}

@media all {
  .neon-modal {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    background-color: rgba(9, 30, 66, 0.54);
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
  }
}

@media all {
  body {
    background-color: var(--body-bg);
    color: var(--body-text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 0;
  }
  header.neon__header {
    background-color: var(--header-bg);
    color: var(--header-color);
    -webkit-box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 49px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px 25px;
  }
  main.neon__main {
    height: auto;
    min-height: calc(100vh - 175px);
    padding: 40px;
  }
  footer.neon__footer {
    color: var(--footer-text-color);
    background-color: var(--footer-bg);
    padding: 10px;
  }
  footer.neon__footer span {
    display: block;
    font-size: 12px;
    text-align: center;
  }
}

@media all {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
}
/*# sourceMappingURL=core.css.map */