@media all {

    .metro-template-aside.metro-template-aside-side-menu.show  nav.metro-navigation ul li a {
        visibility: visible !important;
    }

    nav.metro-navigation {
        background-color: var(--navigation-bgc) !important;
        ul {
            padding: 0;

            li {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                list-style: none;
                list-style: none;
                height: 40px;

                &:focus,
                &:hover {
                    background-color: var(--navigation-bgc-hover) !important;
                    color: #fff;
                    transition: ease-in-out 0.5s;

                    img,
                    div.metro-icon {
                        filter: opacity(100%) !important;
                    }
                }

                &.metro-navigation-parent {
                    height: auto !important;

                    &.--show {
                        background-color: var(--navigation-parent-bgc);

                        &:hover {
                            background-color: var(--navigation-parent-bgc) !important;

                            a:hover {
                                background-color: var(--navigation-bgc-hover) !important;
                            }
                        }

                        filter: opacity(100%) !important;

                        a {
                            display: block !important;
                            &:first-child {
                                div.metro-icon {
                                    filter: opacity(100%) !important;
                                    transition: ease-in-out 0.5s !important;
                                    &:last-child {
                                        transform: rotate(180deg) !important;
                                    }
                                }
                            }
                        }
                    }

                    a {
                        display: none;

                        &:first-child {
                            display: block !important;
                        }

                        .metro-icon:last-child {
                            float: right !important;
                        }
                    }
                }

                a {
                    color: var(--navigation-link-color);
                    font-size: 14px !important;
                    padding: 10px 15px;
                    text-decoration: none;
                    visibility: hidden;

                    img,
                    div.metro-icon {
                        background-color: transparent !important;
                        float: left;
                        filter: opacity(50%);
                        margin-right: 10px !important;
                        width: 18px !important;
                    }
                }
            }
        }
    }
}
