@media all {
    figure.picture__box {
        background-size: 150px;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
        margin: 0;
        width: 150px;

        &:hover {
            div.picture__box__shade {
                background-color: rgba(0, 0, 0, 0.6) !important;
                button {
                    display: block !important;
                }
            }
        }

        div.picture__box__shade {
            background-color: transparent;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            height: 150px;
            justify-content: center;
            margin: 0;
            position: relative;
            transition: ease-in-out 0.5s;
            width: inherit !important;

            button {
                border: none !important;
                display: none;
                background-color: transparent !important;
                cursor: pointer;
            }
        }
    }
}
