/**
* Css pricipal do template Metro
**/

// Import of commouns components
@import "components/dialog";
@import "components/loader";
@import "components/modal";
@import "components/navigation";
@import "components/pages";
@import "components/picture";


// Import of commouns elements
@import "elements/buttons";
@import "elements/cards";
@import "elements/form";
@import "elements/svg";
@import "elements/table";
@import "elements/workspace";

// // Import of commouns utilites
@import "utilites/flexbox";
@import "utilites/generals";
@import "utilites/overflow";

// Regras da estrutura do template
@media all {
    // Regras do body
    body.metro-template {
        background-color: #f2f2f2;
        color: var(--text_color);
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
        margin: 0;
    }

    // Regras do header
    header.metro-template-header {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
            0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        display: flex;
        flex-direction: row;
        height: 60px;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1;

        div.metro-template-header-area {
            &:first-child,
            &:last-child {
                max-width: 60px !important;
            }

            width: 100%;
            button {
                background-color: transparent;
                border: 0 !important;
                cursor: pointer;
                filter: opacity(80%);
                height: 60px;
                margin: 0;
                width: 60px;

                &:hover {
                    transition: ease-in-out 0.3s;
                    filter: opacity(100%);

                    &#metro-template-menu {
                        background-color: #ccc;
                    }
                }

                &#metro-template-menu-user {
                    img {
                        border-radius: 100%;
                        width: 38px !important;
                    }
                }
            }
        }
    }

    // Regras do main
    main.metro-template-main {
        display: flex;
        flex-direction: row;
        height: calc(100vh - 60px);
        padding-top: 60px;

        aside.metro-template-aside {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            width: 100%;

            // Regras do menu lateral
            &.metro-template-aside-side-menu {
                background-color: var(--primary_color);
                color: #fff !important;
                overflow-x: hidden !important;
                transition: ease-in-out 0.5s;
                width: 0px;

                li {
                    font-size: 0px;
                }

                &.show {
                    display: flex !important;
                    visibility: visible;
                    width: 280px;

                    li {
                    }
                }
            }

            // Regras para área de conteúdo principal
            &.metro-template-aside-content {
                padding: 10px;
            }
        }
    }
}

@media all and (max-width: 768px) {
    aside.metro-template-aside-side-menu {
        height: calc(100% - 60px) !important;
        position: absolute;
        z-index: 1;
    }
}
