@media all {
    *.overflow {
        &.--horizontal {
            overflow-x: auto !important;
            overflow-y: hidden !important;
        }
        &.--vertical {
            overflow-y: auto !important;
            overflow-x: hidden !important;
        }
        &.both {
            overflow-x: auto !important;
            overflow-y: auto !important;
        }
    }
}
