main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    padding: 20px;
    height: max-content;
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
}
